name: Commit Time Stats

on:
  schedule:
    - cron: "0 2 * * *"
  workflow_dispatch:

jobs:
  update-readme:
    runs-on: ubuntu-latest
    steps:
      - uses: jamesgeorge007/github-activity-readme@master
        with:
          GH_USERNAME: ${{ github.repository_owner }}
          COMMIT_MSG: "Update commit time stats"
